body {
    background: url(images/back.jpg) fixed left bottom;
    color: rgba(255, 255, 255, .5);
    transition: background 7.5s;
    font-family: 'share tech mono', monospace;
}

a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.left {
    margin: 0;
}

header h1 {
    padding: 0 10px;
    margin: 0;
    align-self: center;
    flex-basis: 25%;
    text-align: center;
}

.right {
    text-align: right;
    margin: 0;
}

span {
    display: inline-block;
}

.clear {
    clear: both;
    border: 10px solid rgba(200, 200, 255, .4);
    border-radius: 20px;
}

main {
    clear: both;
    text-shadow: 1px 1px 5px rgba(200, 200, 255, .5);
}

#demo {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    opacity: 0;
    transition: opacity 5s; 
    justify-content: space-around;
}

#demo h1{
    text-align: right;
    font-size: 7.5vw;
    margin: 0;
    text-shadow: 50px 20px 18px black;
    flex: 0 100%;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.container div {
    margin: 2rem;
}

#home {
   transition: opacity 5s; 
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
}

#map {
    height: 70vh;
    width: 70vw;
    margin: 20px auto;
    border-radius: 50px;
}

#loca {
    display: block;
    opacity: 0;
    transition: opacity 5s;
}

iframe {
    height: 175px;
    width: 250px;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 15px black;
}

.demoText {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

a:hover {
    text-shadow: 0px 0px 10px black;
}

@media only screen and (max-width: 699px) {
    header {
            font-size: 1.2em;
    }
    
    header h1 {
        display: none;
        margin: 0;
        text-align: left;
    }
    
    #demo {
        display: inline;
    }
    
    #demo div {
        text-align: center;
    }
    
    .homeButton {
        order: 3;
    }
    
    .right {
        order: 2;
        flex-basis: 55%;
        margin: 0;
    }
    
    .demoButton {
        order: 4;
    }
    
    .left {
        order: 1;
        margin: 0;
        flex-basis: 45%;
    }
    
    a {
        text-shadow: 0px 0px 10px rgba(0, 0, 255, .4);
    }
    
    body {
        background: url(images/mobback.jpg) fixed;
    }
    
    #demo h1 {
        text-align: left;
        margin-top: 40px;
    }
    
    body {
        color: rgba(255, 255, 255, .7);
        transition: background 0s;
    }
    
    #goLocation {
        pointer-events: none;
        cursor: default;
        text-shadow: none;
        color: rgba(255, 255, 255, .7);
    }

}


