html {
  font-size: 62.5%;
}

body {
  background: url(images/mobback.jpg) fixed;
  color: rgba(255, 255, 255, .7);
  transition: background 1s;
  font-family: 'share tech mono', monospace;
  font-size: 1.6rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 2.2rem;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

header p {
  margin: 0;
}

a {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
  text-shadow: 0px 0px 1rem rgba(0, 0, 255, .4);
}

.top {
  order: 1;
  flex-basis: 100%;
  margin: 0;
  text-align: center;
}

.homeButton {
  order: 2;
}

.demoButton {
  order: 3;
}

.right {
  order: 4;
  margin: 0;
}

span {
  display: inline-block;
}

.clear {
  clear: both;
  border: 1rem solid rgba(200, 200, 255, .4);
  border-radius: 2rem;
}

main {
  clear: both;
  text-shadow: .1rem .1rem .5rem rgba(200, 200, 255, .5);
}

#home {
  transition: opacity 5s; 
}

#demo {
  display: inline;
  flex-wrap: wrap;
  flex-direction: row;
  opacity: 0;
  transition: opacity 5s; 
  justify-content: space-around;
}

#demo h1{
  text-align: left;
  font-size: 5rem;
  margin-top: 4rem;
  text-shadow: 5rem 2rem 1.8rem black;
  flex: 0 100%;
  padding-bottom: 2rem;
}

#demo div {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.container div {
  margin: 2rem;
}

iframe {
  height: 17.5rem;
  width: 25rem;
  border: none;
  border-radius: 5rem;
  box-shadow: .5rem .5rem 1.5rem black;
}

.demoText {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

#loca {
  display: block;
  opacity: 0;
  transition: opacity 5s;
}

#map {
  height: 70vh;
  width: 70vw;
  margin: 2rem auto;
  border-radius: 5rem;
}

@media only screen and (min-width: 700px) {
  body {
    background: url(images/back.jpg) fixed left bottom;
    color: rgba(255, 255, 255, .5);
    transition: background 7.5s;
  }
  
  header {
    font-size: 2.6rem;
  }
  
  header h1 {
    display: block;
    padding: 0 1rem;
    align-self: center;
    flex-basis: 25%;
    text-align: center;
  }
  
  a {
    text-shadow: none;
  }
  
  a:hover, #goLocation:hover {
    text-shadow: 0px 0px 1rem black;
  }
  
  #demo {
    display: none;
  }
  
  #demo h1 {
    text-align: right;
    margin: 0;
    font-size: 7rem;
  } 
}
