@font-face {
  font-family: 'alarm clock';
  src: url(/fonts/alarmclock.woff);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  height: 100vh;
  background: linear-gradient(to bottom, #f7b733, #fc4a1a) fixed; 
}

.bezel{
  background: black;
  border-radius: 1rem;
  width: 25rem;
  height: 14rem;
  margin: 5rem auto; 
  border: .1rem solid white
}

.screen {
  background: #d3d3f3;
  width: 17rem;
  height: 5rem;
  margin: auto;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  border-radius: .5rem
}

.timeDisplay {
  font-family: 'alarm clock';
  font-size: 3rem;
  line-height: 0rem;
  color: rgba(0, 0, 0, .6);
}

.buttons {
  text-align: center;
}

button {
  width: 25%;
  height: 2.5rem;
  border-radius: 1rem;
  transition: .5s;
  outline: none;
  background: silver;
  letter-spacing: .2rem;
  border-top: .3rem solid rgba(255, 255, 255, .8);
  box-shadow: 0px .3rem rgba(100, 100, 100, .8);
  border-left: .2rem solid grey;
  border-right: .2rem solid grey;
}

button:hover {
  transform: translate(0, .1rem);
  box-shadow: 0px .2rem rgba(100, 100, 100, .8);
}

button:active {
  transform: translate(0, .2rem);
  box-shadow: 0px .1rem rgba(100, 100, 100, .8);
}

.paper {
  background: linear-gradient(to right, white 4.8%, #ff0092 5%, white 5.3%);
  width: 85%;
  margin: auto;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 0 3rem 3rem 0;
  max-width: 95rem;
}

.instruction {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
}

.logBook p{
  margin: 0 0 0 7%;
}

hr {
  border: solid .1rem aqua;
}