@font-face {
    font-family: 'alarm clock';
    src: url(/fonts/alarmclock.woff);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  height: 100vh;
  background: background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bezel{
  background: black;
  border-radius: 1rem;
  width: 25rem;
  height: 14rem;
  margin: 5rem auto; 
  border: 1px solid white
}

button {
  width: 25%;
  height: 2.5rem;
  border-radius: 10px;
  transition: .5s;
  outline: none;
  background: silver;
  letter-spacing: .2rem;
  border-top: 3px solid rgba(255, 255, 255, .8);
  box-shadow: 0px 3px rgba(100, 100, 100, .8);
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

button:hover {
  transform: translate(0, 1px);
  box-shadow: 0px 2px rgba(100, 100, 100, .8);
}

button:active {
  transform: translate(0, 2px);
  box-shadow: 0px 1px rgba(100, 100, 100, .8);
}

.screen {
  background: #d3d3f3;
  width: 17rem;
  height: 5rem;
  margin: auto;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  border-radius: .5rem
}

.buttons {
  text-align: center;
}

.timeDisplay {
  font-family: 'alarm clock';
  font-size: 3rem;
  line-height: 0rem;
  color: rgba(0, 0, 0, .6);
}

.paper {
  background: linear-gradient(to right, white 4.8%, #ff0092 5%, white 5.3%);
  width: 85%;
  margin: auto;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 0 3rem 3rem 0;
  max-width: 95rem;
}

.instruction {
  text-align: center;
  font-size: 3rem
}

.logBook p{
  margin: 0 0 0 7%;
}

hr {
  border: solid 1px aqua;
}